<h1>Advertisements</h1>
{% for ad in ads %}
    <div>
        <a href="{{ path('advertisement_show', {id: ad.id}) }}">{{ ad.title }}</a> - {{ ad.price }} PLN
    </div>
{% else %}
    <div>LAck of advertisements</div>
{% endfor %}
<a href="{{ path('advertisement_new') }}">Add advertisement</a>